.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px 0 0;
    width: 100%;
    &__container {
        display: flex;
        gap: 15px;
        margin: 0 auto;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border-radius: 28px;
        padding: 16px;
        color: #4f6d7a;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        &_active {
            font-weight: 600;
        }
        &_search {
            gap: 8px;
            background: #c0d6df;
            &:hover {
                background: #88a2ad;
                color: #dbe9ee;
            }
        }
    }
    &__search {
        border: none;
        background: none;
        color: #4f6d7a;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        &::placeholder {
            color: #88a2ad;
        }
    }
}
