.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &-item {
            padding: 12px;
            border-radius: 15%;
            &:hover {
                background: #c0d6df;
                & .navbar__link {
                    color: #4f6d7a;
                }
            }
            &_active {
                background: #4f6d7a;
                & .navbar__link {
                    color: #c0d6df;
                }
            }
        }
    }
    &__link {
        color: #4f6d7a;
    }
}
