@import './style/normalize.scss';
@import './style/fonts.scss';
@import './style/cards.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
}

ul,
ol {
    list-style: none;
}

.grow-1 {
    flex-grow: 1;
}

.flex {
    display: flex;
}
